<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        border-collapse: collapse;
      }

      table > tbody > tr > td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <!-- Package1 -->
      <tr>
        <td rowspan="3">Package 1</td>
        <td>item1 name</td>
        <td>item1 age</td>
        <td rowspan="3">QTY</td>
      </tr>
      <tr>
        <td>item2 name</td>
        <td>item2 age</td>
      </tr>
      <tr>
        <td>item3 name</td>
        <td>item3 age</td>
      </tr>

      <!-- Package2 -->
      <tr>
        <td rowspan="2">Package 2</td>
        <td>item1 name</td>
        <td>item1 age</td>
        <td rowspan="2">QTY</td>
      </tr>
      <tr>
        <td>item2 name</td>
        <td>item2 age</td>
      </tr>
    </table>
  </body>
</html>
